<template>
    <div>
        <h1 class="centralizado">Cadastro</h1>
        <h2 class="centralizado">{{ foto.titulo }}</h2>
        
        <h2 v-if="foto._id" class="centralizado">Alterando</h2>
        <h2 v-else class="centralizado">Incluindo</h2>

        <!-- cancelando comportamento padrao do submit normal do formulario (prevent modifiers), evita refresh do submit -->
        <form @submit.prevent="grava()">
            <div class="controle">
                <label for="titulo">TÍTULO</label>
                <!-- <input 
                    id="titulo" 
                    autocomplete="off" 
                    @input="foto.titulo = $event.target.value"
                    :value="foto.titulo"
                > -->
                <!-- <input 
                    id="titulo"
                    name="titulo" 
                    autocomplete="off" 
                    v-model.lazy="foto.titulo"
                    v-validate
                    data-vv-rules="required"
                > -->
                <input 
                    id="titulo"
                    name="titulo" 
                    autocomplete="off" 
                    v-model="foto.titulo"
                    v-validate
                    data-vv-rules="required|min:3|max:30"
                    data-vv-as="Título"
                >
                <!-- data-vv-as alias para o input nas mensagens de validação -->
                <!-- mensagens de erro de validação personalida -->
                <!-- <span class="erro" v-show="errors.has('titulo')">Obrigatorio</span> -->
                <!-- capturando mensagem de erro ddo vee validate -->
                <span class="erro" v-show="errors.has('titulo')">{{ errors.first('titulo') }}</span>
            </div>
            <div class="controle">
                <label for="url">URL</label>
                <!-- <input
                    id="url"
                    autocomplete="off"
                    @input="foto.url = $event.target.value"
                    :value="foto.url"
                > -->
                <!-- v-model.lazy so executa a ação de atualização após o campo perder o foco -->
                <!-- <input
                    id="url"
                    autocomplete="off"
                    v-model.lazy="foto.url">
                > -->
                <input
                    id="url"
                    name="url"
                    autocomplete="off"
                    v-model="foto.url"
                    v-validate
                    data-vv-rules="required"
                >
                <!-- <span class="erro" v-show="errors.has('url')">Obrigatorio</span> -->
                <!-- capturando mensagem de erro ddo vee validate -->
                <span class="erro" v-show="errors.has('url')">{{ errors.first('url') }}</span>
                <imagem-responsiva
                    v-show="foto.url"
                    :url="foto.url"
                    :titulo="foto.titulo"
                />
            </div>
            <div class="controle">
                <label for="descricao">DESCRIÇÃO</label>
                <!-- <textarea
                    id="descricao"
                    autocomplete="off"
                    @input="foto.descricao = $event.target.value"
                    :value="foto.descricao"
                /> -->
                <!-- <textarea
                    id="descricao"
                    autocomplete="off"
                    v-model="foto.descricao"
                /> -->
                <textarea
                    id="descricao"
                    name="descricao"
                    autocomplete="off"
                    v-model="foto.descricao"
                    v-validate
                    data-vv-rules="required"
                />
                <!-- <span class="erro" v-show="errors.has('descricao')">Obrigatorio</span> -->
                <span class="erro" v-show="errors.has('descricao')">{{ errors.first('descricao') }}</span>
            </div>
            <div class="centralizado">
                <meu-botao rotulo="GRAVAR" tipo="submit" estilo="padrao" />
                <router-link :to="{ name: 'home' }">
                    <meu-botao rotulo="VOLTAR" tipo="button" estilo="padrao" />
                </router-link>
            </div>
        </form>
    </div>
</template>

<script>
import ImagemResponsiva from '../shared/imagem-reponsiva/ImagemResponsiva.vue';
import Botao from '../shared/botao/Botao.vue';
import Foto from '../../domain/foto/Foto';
import FotoService from '../../domain/foto/FotoService';

export default {
    // nomeando componente
    components: {
        'meu-botao': Botao,
        'imagem-responsiva': ImagemResponsiva
    },
    data() {
        return {
            // foto: {
            //     titulo: '',
            //     url: '',
            //     descricao: ''
            // }
            // usando modelo, bem melhor
            foto: new Foto(),
            // capturando parametro passado na url e na rota
            id: this.$route.params.id
        }
    },
    methods: {
        grava() {
            // console.log(this.foto);
            // this.foto = new Foto();
        
            // let promise = this.$http.post('v1/fotos', this.foto)
            //     .then(
            //         () => this.foto = new Foto(), 
            //         err => console.log(err)
            //     )
            
            // utilizando resource do main.js
            // this.resource
            //     .save(this.foto)
            //     .then(
            //         () => this.foto = new Foto(), 
            //         err => console.log(err)
            //     )
            
            // verifica de a validação esta ok
            this.$validator
                .validateAll()
                .then(success => {
                    if (success) {
                        // usando service
                        this.service.cadastra(this.foto)
                            .then(
                                () => {
                                    // se for uma edição, redireciona para a rota home
                                    if (this.id) this.$router.push({ name: 'home' });
                                    this.foto = new Foto();
                                },
                                err => console.log(err)
                            )
                    }
                });
        }
    },
    created() {
        this.service = new FotoService(this.$resource);

        if (this.id) {
            this.service.busca(this.id)
                .then(foto => this.foto = foto);
        }
    }
}
</script>

<style scoped>
.centralizado {
    text-align: center;
}

.controle {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.controle label {
    display: block;
    font-weight: bold;
}

.controle label + input, .controle textarea {
    width: 100%;
    font-size: inherit;
    border-radius: 5px;
}

.erro {
    color: red;
}
</style>