<template>
    <!-- root element -->
    <div class="corpo">
        <menu-menu :rotas="routes" />
        <!-- animando -->
        <transition name="pagina">
            <!-- hora tem que exibir um componente, hora outro -->
            <router-view></router-view>
        </transition>
    </div>
</template>

<script>
import { routes } from './routes';
import Menu from './components/shared/menu/Menu.vue';

export default {
    components: {
        'menu-menu': Menu
    },
    data() {
        return {
            // routes: routes ou só routes (mesmo nome, basta usar uma vez)
            // routes: routes
            // realizando filtro nas rotas para pegar valor menu: true criado no routes.js
            routes: routes.filter(route => route.menu)
        }
    }
}
</script>

<style scoped>
.corpo {
    font-family: Helvetica, sans-serif;
    width: 96%;
    margin: 0 auto;
}

.pagina-enter, .pagina-leave-active {
    opacity: 0;
}

.pagina-enter-active, .pagina-leave-active {
    transition: opacity .4s;
}
</style>
