<template>
    <!-- menu -->
    <nav>
        <!--
        <ul>
            <li>
                evita o reload da pagina com router-link
                <router-link to="/">Home</router-link>
            </li>
            <li>
                <router-link to="/cadastro">Cadastro</router-link>
            </li>
        </ul>
        -->
        <!-- criando menu de forma dinamica com o arquivo routes.js -->
        <ul>
            <li v-for="rota in rotas">
                <!-- if ternario devido a rota em '' da home -->
                <router-link :to="rota.path ? rota.path : '/'">{{ rota.titulo }}</router-link>
            </li>
        </ul>
    </nav>
</template>

<script>
export default {
    // props: ['rotas'],
    // outra forma de passar a props com validacao do tipo, mensagens de erro mais clara
    props: {
        rotas: {
            type: Array,
            required: true
        }
    }
}
</script>

<style scoped>

</style>