<template>
    <!-- Não precisa de root element, pois é apenas um componente img -->
    <!-- v-bind:src="foto.url" ou :src="foto.url" -->
    <!-- tudo colocado dentro do componente cai no slot definido no painel -->
    <img class="imagem-responsiva" :src="url" :alt="titulo">
</template>

<script>
export default {
    props: ['titulo', 'url']
}
</script>

<style scoped>
.imagem-responsiva {
    width: 100%;
}
</style>


