<template>
    <!-- root element -->
    <div>
        <!-- <h1>{{ titulo }}</h1> ou <h1 v-text="titulo"></h1> -->
        <h1 class="centralizado">{{ titulo }}</h1>
        <!-- Ex: v-on:input ou @input -->
        <input @input="filtro = $event.target.value" type="search" class="filtro" placeholder="Filtre por parte do título">
        <ul class="lista-fotos">
            <li class="lista-fotos-item" v-for="foto of fotosComFiltro">
                <meu-painel :titulo="foto.titulo">
                    <imagem-responsiva :titulo="foto.titulo" :url="foto.url" />
                    <!-- @click.native para o click funcionar, pois não é uma tag nativa do html -->
                    <!-- <meu-botao tipo="button" rotulo="REMOVER" @click.native="remove(foto)" /> -->
                    <!-- evento customizado disparado pelo filho ao clicar nele, pois ele possui o onclick -->
                    <meu-botao
                        tipo="button" 
                        rotulo="REMOVER" 
                        :confirmacao="false"
                        estilo="perigo"
                        @botaoAtivado="remove(foto)" 
                    />
                    <!--
                        rotulo="REMOVER" assim passa o valor sempre como texto 
                        :confimacao para o componente saber que é para verificar o expressao passada 
                    -->
                </meu-painel>
            </li>
        </ul>
    </div>
</template>

<script>
import Painel from '../shared/painel/Painel.vue';
import ImagemResponsiva from '../shared/imagem-reponsiva/ImagemResponsiva.vue';
import Botao from '../shared/botao/Botao.vue';


export default {
    // nomeando componente
    components: {
        'meu-painel': Painel,
        'imagem-responsiva': ImagemResponsiva,
        'meu-botao': Botao
    },
    data() {
        return {
            titulo: 'Alurapic',
            fotos: [],
            filtro: ''
            // fotos: [
            //     {
            //         url: 'https://www.petelegante.com.br/dicas/wp-content/uploads/2018/07/cachorro-filhote-dormindo-no-colo-750x400.jpg',
            //         titulo: 'cachorro 1'
            //     },
            //     {
            //         url: 'https://www.petelegante.com.br/dicas/wp-content/uploads/2018/07/cachorro-filhote-dormindo-no-colo-750x400.jpg',
            //         titulo: 'cachorro 2'
            //     }
            // ]
        }
    },
    computed: {
        // o metodo se torna uma variavel
        fotosComFiltro() {
            if (this.filtro) {
                // i = case insensitive
                // utiliza o filtro para pesquisar os titulos das fotos
                let exp = new RegExp(this.filtro.trim(), 'i');
                return this.fotos.filter(foto => exp.test(foto.titulo));
            } else {
                return this.fotos;
            }
        }
    },
    methods: {
        remove(foto) {
            alert('Remover a foto ' + foto.titulo);
        }
    },
    created() {
        let promise = this.$http.get('http://localhost:3000/v1/fotos')
            .then(res => res.json())
            .then(fotos => this.fotos = fotos, err => console.log(err));
    }
}
</script>

<style scoped>

.centralizado {
    text-align: center;
}

.lista-fotos {
    list-style: none;
}

.lista-fotos .lista-fotos-item {
    display: inline-block;
}

.filtro {
    display: block;
    width: 100%;
}

</style>
