<template>
    <!-- root element -->
    <div>
        <!-- <h1>{{ titulo }}</h1> ou <h1 v-text="titulo"></h1> -->
        <h1 class="centralizado">{{ titulo }}</h1>
        <!-- adicionando imagem estatica -->
        <!-- no build deve se copiar o index.html, static (se tiver imagens), dist (aplicação) -->
        <img src="/static/goku.png" alt="" width="20%">

        <!-- mensagem -->
        <p v-show="mensagem" class="centralizado">{{ mensagem }}</p>

        <!-- Ex: v-on:input ou @input -->
        <input @input="filtro = $event.target.value" type="search" class="filtro" placeholder="Filtre por parte do título">

        <ul class="lista-fotos">
            <li class="lista-fotos-item" v-for="foto of fotosComFiltro" :key="foto._id">
                <meu-painel :titulo="foto.titulo">
                    <!-- diretiva v-meu-transform -->
                    <!-- <imagem-responsiva v-meu-transform="{ incremento: 15, animate: true }" :titulo="foto.titulo" :url="foto.url" /> -->
                    <!-- diretiva com modificador -->
                    <!-- <imagem-responsiva v-meu-transform.animate="15" :titulo="foto.titulo" :url="foto.url" /> -->
                    <!-- diretiva com modificador e argumento -->
                    <imagem-responsiva v-meu-transform:scale.animate="1.2" :titulo="foto.titulo" :url="foto.url" />
                    <!-- @click.native para o click funcionar, pois não é uma tag nativa do html -->
                    <!-- <meu-botao tipo="button" rotulo="REMOVER" @click.native="remove(foto)" /> -->
                    <!-- evento customizado disparado pelo filho ao clicar nele, pois ele possui o onclick -->
                    <meu-botao
                        tipo="button" 
                        rotulo="REMOVER" 
                        :confirmacao="true"
                        estilo="perigo"
                        @botaoAtivado="remove(foto)" 
                    />

                    <router-link :to="{ name: 'altera', params: { id: foto._id } }">
                        <meu-botao
                            tipo="button" 
                            rotulo="ALTERAR" 
                            :confirmacao="false"
                        />
                    </router-link>
                    <!--
                        rotulo="REMOVER" assim passa o valor sempre como texto 
                        :confimacao para o componente saber que é para verificar o expressao passada 
                    -->
                </meu-painel>
            </li>
        </ul>
    </div>
</template>

<script>
import Painel from '../shared/painel/Painel.vue';
import ImagemResponsiva from '../shared/imagem-reponsiva/ImagemResponsiva.vue';
import Botao from '../shared/botao/Botao.vue';
import FotoService from '../../domain/foto/FotoService';

export default {
    // nomeando componente
    components: {
        'meu-painel': Painel,
        'imagem-responsiva': ImagemResponsiva,
        'meu-botao': Botao
    },
    data() {
        return {
            titulo: 'Alurapic',
            fotos: [],
            filtro: '',
            // fotos: [
            //     {
            //         url: 'https://www.petelegante.com.br/dicas/wp-content/uploads/2018/07/cachorro-filhote-dormindo-no-colo-750x400.jpg',
            //         titulo: 'cachorro 1'
            //     },
            //     {
            //         url: 'https://www.petelegante.com.br/dicas/wp-content/uploads/2018/07/cachorro-filhote-dormindo-no-colo-750x400.jpg',
            //         titulo: 'cachorro 2'
            //     }
            // ],
            mensagem: ''
        }
    },
    computed: {
        // o metodo se torna uma variavel
        fotosComFiltro() {
            if (this.filtro) {
                // i = case insensitive
                // utiliza o filtro para pesquisar os titulos das fotos
                let exp = new RegExp(this.filtro.trim(), 'i');
                return this.fotos.filter(foto => exp.test(foto.titulo));
            } else {
                return this.fotos;
            }
        }
    },
    methods: {
        remove(foto) {
            console.log('Remover a foto ' + foto.titulo);
            // let promise = this.$http.delete(`v1/fotos/${foto._id}`)
            //     .then(
            //         () => {
            //             // atualizando array de fotos apos exclusão
            //             let indice = this.fotos.indexOf(foto);
            //             this.fotos.splice(indice, 1);

            //             this.mensagem = 'Foto removida com sucesso';
            //         },
            //         err => {
            //             console.log(err);
            //             this.mensagem = 'Não foi possivel remover a foto';
            //         }
            //     )
            
            // outra maneira usando resource do main.js
            // this.resource
            //     .delete({ id: foto._id })
            //     .then(
            //         () => {
            //             // atualizando array de fotos apos exclusão
            //             let indice = this.fotos.indexOf(foto);
            //             this.fotos.splice(indice, 1);

            //             this.mensagem = 'Foto removida com sucesso';
            //         },
            //         err => {
            //             console.log(err);
            //             this.mensagem = 'Não foi possivel remover a foto';
            //         }
            //     )

            // usando services
            this.service
                .apaga(foto._id)
                .then(
                    () => {
                        // atualizando array de fotos apos exclusão
                        let indice = this.fotos.indexOf(foto);
                        this.fotos.splice(indice, 1);

                        this.mensagem = 'Foto removida com sucesso';
                    },
                    err => {
                        console.log(err);
                        this.mensagem = 'Não foi possivel remover a foto';
                    }
                )
        }
    },
    created() {
        // let promise = this.$http.get('v1/fotos')
        //     .then(res => res.json())
        //     .then(fotos => this.fotos = fotos, err => console.log(err));
        
        // outra maneira usando resource do main.js
        // this.resource = this.$resource('v1/fotos{/id}');
        // this.resource
        //     .query()
        //     .then(res => res.json())
        //     .then(fotos => this.fotos = fotos, err => console.log(err));

        // usando services
        this.service = new FotoService(this.$resource);
        this.service
            .lista()
            .then(
                fotos => this.fotos = fotos, 
                err => {
                    this.mensagem = err.message;
                }
            );
    }
}
</script>

<style scoped>

.centralizado {
    text-align: center;
}

.lista-fotos {
    list-style: none;
}

.lista-fotos .lista-fotos-item {
    display: inline-block;
}

.filtro {
    display: block;
    width: 100%;
}

</style>
