<template>
    <!-- é possivel ter mais de um class, o vue junta as class  -->
    <button @click="disparaAcao()" :class="estiloDoBotao" class="botao" :type="tipo">{{ rotulo }}</button>
</template>

<script>
export default {
    // props: ['tipo', 'rotulo', 'confirmacao', 'estilo'],
    // props com validação
    props: {
        tipo: {
            required: true,
            type: String
        },
        rotulo: {
            required: true,
            type: String
        },
        confirmacao: {
            required: false,
            type: Boolean
        },
        estilo: {
            required: true,
            type: String
        }
    },
    methods: {
        disparaAcao() {
            if (this.confirmacao) {
                if (confirm('Confirma operação?')) {
                    // $emit (emite evento, no caso o evento botaoAtivado do componente pai)
                    this.$emit('botaoAtivado');
                    // passando parametro se necessario
                    // recuperado no metodo chamado no evento, atraves da $event
                    // this.$emit('botaoAtivado', new Date());
                }
                return;
            }
            this.$emit('botaoAtivado');
        }
    },
    computed: {
        estiloDoBotao() {
            if (this.estilo == 'padrao' || !this.estilo) return 'botao-padrao';
            if (this.estilo == 'perigo') return 'botao-perigo';
        }
    }
}
</script>

<style scoped>
.botao {
    display: inline-block;
    padding: 10px;
    border-radius: 3px;
    margin: 10px;
    font-size: 1.2em;
}

.botao-perigo {
    background: firebrick;
    color: white;
}

.botao-padrao {
    background: darkcyan;
    color: white;
}
</style>