/*
se quisesse usar sass
npm install node-sass sass-loader --save-dev
quiser importar import './Botao.scss';
<style lang="scss">
</style>*/
$cor: blue;

.botao {
    display: inline-block;
    padding: 10px;
    border-radius: 3px;
    margin: 10px;
    font-size: 1.2em;
}

.botao-perigo {
    background: firebrick;
    color: white;
}

.botao-padrao {
    background: darkcyan;
    color: white;
}
